name: pentas
description: "A new Flutter project."
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  cupertino_icons: ^1.0.8
  intl: ^0.20.2

  firebase_core: ^2.32.0
  firebase_auth: ^4.17.3
  cloud_firestore: ^4.13.0

  timer_builder: ^2.0.0

  font_awesome_flutter: ^10.7.0
  url_launcher: ^6.2.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/logo-ith.png
    - assets/lab_ith.jpg

